{% extends "base.html" %} {% block title %}Categories{% endblock %} {% block content%}
<h1 align="center">Category</h1>
<ul class="list-group list-group-flush" id="categories">
  {% for category in categories %}
  <li class="list-group-item">
    {{ category.name }} {{category.name }}
    <button type="button" class="close" onClick="deleteCategory({{ category.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="category" id="category" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Category</button>
  </div>
</form>
{% endblock %}
