{% extends "base.html" %} {% block title %}Reports{% endblock %} {% block content%}
<h1 align="center">Reports</h1>
<hr>
<h2 align="center">Total Monthly Expense</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Month</th>
      <th scope="col">Amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in expensesMonthly %}
      <tr>
        <th scope="row">{{ item.year|int }}</th>
        <th scope="row">{{ item.month|int }}</th>
        <th scope="row">{{ "$%.2f"|format(item.amount) }}</th>
      </tr>
  {% endfor %}
  </tbody>
</table>

<table class="table">
  <tr>
      {% for key in expensesMonthly[0] %}
      <th>{{ key.capitalize() }}</th>
      {% endfor %}
  </tr>
  <hr>
  ** Testing **
  <h3 align="center">Testing</h1>
  {% for expenseMonthly in expensesMonthly %}
  <tr>
      {% for key in expenseMonthly %}
        {% if key=="amount" %}
          <td>{{ "$%.2f"|format(expenseMonthly[key]) }}</td>
        {% else %}
          <td>{{ expenseMonthly[key]|int }}</td>
        {% endif %}
      {% endfor %}
  </tr>
  {% endfor %}
</table>



{% endblock %}
